@media screen and (min-width: 575px) {
  .products-title {
    border-bottom: 2px solid #a950ff;
    width: 30%;
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 575px) {
  .products-title {
    border-bottom: 2px solid #a950ff;
    width: 100%;
    margin-bottom: 5%;
  }
}
